{{ define "main" }}
<div class="ittvis-framework">
  <div class="title">{{ .Title }}</div>
  <div class="row">
    <div class="col-sm-8 content">
      <div class="section">
        {{ .Content }}
      </div>
    </div>
    <div class="col-sm content">
      <div class="section demo">
        <h1>Demo</h1>
        <p class="link">
          <a href="{{ .Params.demo }}">
            <i class="fa fa-cube" aria-hidden="true"></i>
            <span>iTTVis_1.0</span>
          </a>
        </p>
      </div>
      <div class="section video">
        <h1>Video</h1>
        <video src="{{ .Params.video }}" controls="controls" width="100%"></video>
      </div>
      <div class="section publication">
        <h1>Publication</h1>
        <p class="link">
          <a href="{{ .Params.publication }}">
            <i class="fa fa-book" aria-hidden="true"></i>
            <span>iTTVis: Interactive Visualization of Table Tennis Data</span>
          </a>
        </p>
      </div>
      {{ partial "ittvis_team.html" . }}
    </div>
  </div>
</div>
{{ end }}
