{{ define "main" }}
<div class="ittvis-framework">
  <div class="title">{{ .Title }}</div>
  <div class="row">
    <div class="col-sm-8 content">
      {{ .Content }}
    </div>
    <div class="col-sm content">
      <h1>Tools</h1>
      <p class="link">
        <a href="/iTTVis_1.0">
          <i class="fa fa-cube" aria-hidden="true"></i>
          <span>iTTVis_1.0 Demo</span>
        </a>
      </p>

      <h1>Team</h1>
      <h2>Core Team</h2>
      <div class="team">
        <div class="member-card">
            <div class="photo" style="background: url(/images/ittvis_framework/ycwu.jpg">
                <a href="http://www.ycwu.org"></a>
            </div>
            <div class="desc">
                <div class="name">Yingcai Wu</div>
                <div class="position">Assistant Professor, Zhejiang University</div>
            </div>
        </div>
        <div class="member-card">
            <div class="photo" style="background: url(/images/ittvis_framework/lanji.png">
                <a href="https://lanjizju.github.io/"></a>
            </div>
            <div class="desc">
                <div class="name">Ji Lan</div>
                <div class="position">PhD Student, Zhejiang University</div>
            </div>
        </div>
        <div class="member-card">
            <div class="photo" style="background: url(/images/ittvis_framework/wangjiachen.jpg">
                <a href="#"></a>
            </div>
            <div class="desc">
                <div class="name">Jiachen Wang</div>
                <div class="position">Undergraduate, Zhejiang University</div>
            </div>
        </div>
        <div class="member-card">
            <div class="photo" style="background: url(/images/ittvis_framework/zhaokejian.jpg">
                <a href="https://zhaokejian.github.io/about/"></a>
            </div>
            <div class="desc">
                <div class="name">Kejian Zhao</div>
                <div class="position">Master Student, Zhejiang University</div>
            </div>
        </div>
      </div>
      <h2>Collaborators</h2>
      <div class="team">
        <div class="member-card">
            <div class="photo" style="background: url(/images/ittvis_framework/zhanghui.jpg">
                <a href="http://mypage.zju.edu.cn/sports_science_zhanghui"></a>
            </div>
            <div class="desc">
                <div class="name">Hui Zhang</div>
                <div class="position">Professor, Zhejiang University</div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
