<div class="section right about">
    <div class="title">ABOUT ZJUVIS</div>
    <div class="logo">
        <img src="{{ .Site.BaseURL }}images/logo.png">
    </div>
    <div class="content">
        ZJUVIS founded in 2015 is a vi&shy;su&shy;al&shy;iza&shy;tion group in Zhe&shy;jiang Uni&shy;ver&shy;sity, P.R. China. Our re&shy;search aims to create novel in&shy;for&shy;ma&shy;tion vi&shy;su&shy;al&shy;ization, vis&shy;ual an&shy;a&shy;lyt&shy;ics, aug&shy;mented/vir&shy;tual re&shy;al&shy;ity, and hu&shy;man com&shy;puter in&shy;ter&shy;ac&shy;tion tech&shy;nol&shy;ogy to em&shy;power users to do an&shy;a&shy;lyt&shy;i&shy;cal rea&shy;son&shy;ing with big data in var&shy;i&shy;ous set&shy;tings, such as ur&shy;ban in&shy;for&shy;mat&shy;ics, sports an&shy;a&shy;lyt&shy;ics, be&shy;hav&shy;ior an&shy;a&shy;lyt&shy;ics, and so&shy;cial me&shy;dia an&shy;a&shy;lyt&shy;ics.
    </div>
</div>
