<div class="section right about">
    <div class="title">ABOUT ZJUVIS</div>
    <div class="logo">
        <img src="{{ .Site.BaseURL }}images/logo.png">
    </div>
    <div class="content">
        Founded at Zhejiang University in 2015, <b>ZJUVIS</b> is one of the most active and enthusiastic visualiza-tion research groups worldwide. Our research interests are mainly concentrated on <b>Information Visualization</b> (str-eaming data, uncertainty, etc.) and <b>Visual Analytics</b> (urban, sports, text, machine learning, immersive technologies, etc.)
    </div>
</div>
