<div class="section right about">
    <div class="title">ABOUT ZJUVIS</div>
    <div class="logo">
        <img src="{{ .Site.BaseURL }}images/logo.png">
    </div>
    <div class="content">
        Founded at Zhejiang University in 2015, <b>ZJU&shy;VIS</b> is one of the most active and enthusiastic visual&shy;ization research groups world&shy;wide. Our research in&shy;ter&shy;ests are mainly concentrated on <b>Infor&shy;mation Visual&shy;ization</b> (streaming data, un&shy;certain&shy;ty, etc.) and <b>Visual Analytics</b> (urban, sports, text, machine learning, immersive technologies, etc.)
    </div>
</div>
