<div class="section left news">
    <div class="title"><i class="fa fa-fire" aria-hidden="true"></i> NEWS AND UPDATES</div>
    <div class="content">
        <ul>
            {{ range .Site.Params.News.Items }}
                {{ if eq .Show true }}
                <li>
                    <div class="news_date">{{ .Date }}</div>
                    <div class="news_content">{{ .Summary | safeHTML }}</div>
                </li>
                {{ end }}
            {{ end }}
        </ul>
    </div>
</div>
